extends ../layout/base.pug

block content       
    block content
        form(action="/signup/userCreate" method="post")
            input.text(type="text" name="id"  placeholder="ID" required) 

            input.text(type="password" name="password"  placeholder="PASSWORD" required) 
            
            input.text(type="text" name="nickname"  placeholder="NICKNAME" required) 
              
            input.text(type="submit" value="SIGN_UP")
