doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="/assets/styles.css")
        title Typing Game TG
        link(rel="stylesheet", href="/css/style.css")
        link(href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap" rel="stylesheet")
    body

        div.header
            div Typing game TG
                a(href="/") HOME 
                a(href="/review") REVIEW  
                a(href="/signup") SIGN_UP
        main 
            block content 
                footer.footer
                    p JIJI Developer's Web Site 
                    p ssanas1093@gmail.com
                    p 010-2253-7102,
                    p TEAM TOP Is Hype
            script(src="assets/js/index.js") 